<div id="content_fields">
  <div class="row">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="row">
    <%= f.label_with_tooltip :slug, { tooltip: t('.slug_tooltip', base: no_cms_events.events_path)} %>
    <%= f.text_field :slug %>
  </div>

  <div class="row">
    <%= f.label :location_id %>
    <%= f.collection_select :location_id, NoCms::Events::Location.includes(:translations), :id, :name %>
  </div>

  <div class="row">
    <%= f.label_with_tooltip :starts_at, { tooltip: t('.starts_at_tooltip')} %>
    <%= f.datetime_picker :starts_at, format: "yyyy-mm-dd hh:mm:ss",  "date-autoclose" => true,  "minute-step" => "15" %>
  </div>

  <div class="row">
    <%= f.label_with_tooltip :ends_at, { tooltip: t('.ends_at_tooltip')} %>
    <%= f.datetime_picker :ends_at, format: "yyyy-mm-dd hh:mm:ss",  "date-autoclose" => true,  "minute-step" => "15" %>
  </div>

  <div class="row">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
</div>
